@{
    ViewBag.Title = "Home Page";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
        <img src="~/Content/SiteImages/SimpleTHX Logo.png" />

        <h1>Tell the ones you <span>love</span> that you appreciate them. </h1>
        <br />
        <a href="~/Account/Register" class="btn-get-started scrollto">Get Started</a>
    </div>
</section><!-- End Hero -->

<!-- ======= Colorful Stripe Section ======= -->
<section id="stripe">
    <div class="container">

        <img src="~/Content/SiteImages/stripe.png" />

    </div>

</section><!-- End Stripe -->


<!-- ======= How We Do Setion ======= -->
<section id="how-we-do" class="how-we-do">
    <div class="container">

        <div class="section-title">
            <h2>Three Easy Steps</h2>
            <p>TO GIVE THANKS AND APPRECIATION</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="icon-box">
                    <div class="icon" style="font-family: Elsie; font-size: 80px; color: #E9C46A"> 1</div>
                    <h4><a style="color:#264653">Create Account</a></h4>
                    <p></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 ">
                <div class="icon-box">
                    <div class="icon" style="font-family: Elsie; font-size:90px; color:#F4A261">2</i></div>
                    <h4><a style="color:#264653">Find Friends</a></h4>
                    <p></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 ">
                <div class="icon-box">
                    <div class="icon" style="font-family: Elsie; font-size:65px; color:#E76F51">3</div>
                    <h4><a style="color:#264653">Send a THX</a></h4>

                    <p></p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End How We Do Section -->

<!-- ======= Counter Section ======= -->
<section id="counts" class="counts">
    <div class="container">

        <div class="row">

            <div class="col-lg-4 col-6">
                <div class="count-box">
                    <i class="far fa-user"></i>
                    <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Users</p>
                </div>
            </div>

            <div class="col-lg-4 col-6">
                <div class="count-box">
                    <i class="far fa-thumbs-up"></i>
                    <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Compliments</p>
                </div>
            </div>

            <div class="col-lg-4 col-6">
                <div class="count-box">
                    <i class="far fa-laugh-wink"></i>
                    <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Happiness</p>
                </div>
            </div>


        </div>

    </div>
</section><!-- End Counts Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
            <p>LOVE TO HEAR FROM YOU.</p>
        </div>

        <div class="row mt-5 justify-content-center">

            <div class="col-lg-10">

                <div class="info-wrap">
                    <div class="row">
                        <div class="col-lg-4 info">
                            <i class="fas fa-map-marker-alt"></i>
                            <h4>Location:</h4>
                            <p>1000 Happy Times Drive<br>Noblesville, IN 46060</p>
                        </div>

                        <div class="col-lg-4 info mt-4 mt-lg-0">
                            <i class="fas fa-envelope"></i>
                            <h4>Email:</h4>
                            <p>info@simplethx.com<br>contact@simplethx.com</p>
                        </div>

                        <div class="col-lg-4 info mt-4 mt-lg-0">
                            <i class="fas fa-phone"></i>
                            <h4>Call:</h4>
                            <p>+1 317 555 1212<br>+1 317 555 1212</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row mt-5 justify-content-center">
            <div class="col-lg-10">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group" style="width: 100%">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->
